<mat-card class="mat-elevation-z4 m-3">
  <mat-card-title>Register New User</mat-card-title>
  <mat-card-content>
    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm.value)" fxLayout="column">

      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput
               name="username"
               type="text"               
               required               
               ngModel/>
        <mat-error>Username is required.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput
               name="password"
               type="password"               
               required
               ngModel/>
        <mat-error>Password is required.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input matInput
               name="confirmPassword"
               type="password"               
               required               
               ngModel/>
        <mat-error>Confirm Password is required.</mat-error>
      </mat-form-field>

      <div class="d-grid gap-3">
        <button class="btn btn-primary" type="submit">Register</button>
        <button class="btn btn-secondary" type="button" mat-button [mat-dialog-close]="">Cancel</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

