<nav class="navbar navbar-expand navbar-dark bg-primary">
  <div class="container">
    <div class="navbar-nav mr-auto">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">Northwind</a>
      <a class="nav-item nav-link" routerLink="/orders" routerLinkActive="active">Order List</a>
      <a class="nav-item nav-link" routerLink="/current" routerLinkActive="active">Current Orders</a>
    </div>
    <form *ngIf="!currentToken" role="form" class="d-sm-flex" #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
      <input class="form-control form-control-sm m-1" type="text" placeholder="Username"
             autocomplete="off" size="8" name="username" ngModel>
      <input class="form-control form-control-sm m-1" type="password" placeholder="Password"
             autocomplete="off" size="8" name="password" ngModel>
      <button type="submit" class="btn btn-danger btn-sm m-1">Login</button>
      <button type="button" class="btn btn-info btn-sm m-1" (click)="register()">Register</button>
    </form>
    <button *ngIf="currentToken" type="button" class="btn btn-info btn-sm m-1"
            (click)="logout()">Logout</button>
  </div>
</nav>

